baseURL = "https://kursadyanik.com/"
languageCode = "tr-tr"
title = "kursadyanik.com"
theme = "PaperMod"
buildFuture = true
enableRobotsTXT = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[sitemap]
  changefreq = "monthly"
  priority = 0.5
  filename = "sitemap.xml"

[params]
  mainSections = ["posts"]
  ShowReadingTime = true
  ShowPostNavLinks = true
  ShowShareButtons = false
  defaultTheme = "dark"
  disableThemeToggle = true

  description = "Cyber Security - kursadyanik.com"
  author = "kursad."
  keywords = ["siber güvenlik", "cybersecurity", "osint", "bilgi güvenliği", "kursadyanik", "blog", "ctf"]


[params.assets]
  favicon = "favicon.ico"

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    identifier = "blog"
    name = "Blog"
    url = "/posts/"
    weight = 2

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 3

  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 4
